<!doctype html>
<html>
    <head>
        <a href="/">Main Blog Page</a> &nbsp &nbsp &nbsp &nbsp
        <a href="/todos">Add a Blog Entry</a> &nbsp &nbsp &nbsp &nbsp
        <a href="/allPosts">All Posts</a> &nbsp &nbsp &nbsp &nbsp
        <title>{{title}}</title> &nbsp &nbsp &nbsp &nbsp
        <a href="login">Login</a> &nbsp &nbsp &nbsp &nbsp
        <a href="logout">Logout</a>
    </head>
<body>
    <style>
        .error{
            color:red
        }
        .success{
            color: green
        }
    </style>
    {% block content %}
    {% endblock %}

</body>
</html>