{% extends "base.html" %}

{% block content %}
    <center>
    <h1>Write Something To Post In The God Damn Blog</h1>
    </center>
    <style>
        .error{color:red}
    </style>
    <form method='post'>
        <label>
            Title of your new Entry:<br>
            <input type="text" name='title' value="{{error}}"/>
            <span class="error" name="error">{{title_error}}</span>
            
        </label>
        <br>
        <br>
        <br>
        <label>
            New Blog Post:<br>
            <textarea rows= "6" cols="60"type="text" name='body'></textarea>
        </label><br>

        <input type="submit" value='submit' />
    </form>


{% endblock %}