{% extends "base.html" %}

{% block content %}
    <center>
    <h1>Write Something To Post In The God Damn Blog</h1>
    </center>
    <hr />

    <form method='post'>
        <label>
            Title of your new Entry:<br>
            <input type="text" name='title'/>
            
            {% with messages = get_flashed_messages() %}
                {% for error in messages %}
                    <p class='error'>{{error}}</p>
                {% endfor %}
            {% endwith %}
            
        </label>
        <br>
        <br>
        <br>
        <label>
            New Blog Post:<br>
            <textarea rows= "6" cols="60"type="text" name='body'></textarea>
        </label>
        {% with messages = get_flashed_messages() %}
            {% for error in messages %}
                <p class='error'>{{error}}</p>
            {% endfor %}
        {% endwith %}
        <br>
        <input type="submit" value='submit' />
    </form>


{% endblock %}